<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Anime Manga  Database</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}" title="style" />
</head>

<body>
  <div id="main">
    <div id="adminheader">
      <div th:replace="adminheaderfiles :: adminheader">
      </div>
    </div>
    <div id="site_content">
      
      <div id="content">
        <a href="/admin/figure/addNewFigure">Neue Figur anlegen</a>
   <table>
	<thead>
		<tr>
			<th></th>
			<th>Serie</th>
			<th>Figur Name</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		<tbody>
			<tr th:each=" figure : ${figures}">
				<td><img th:src="@{'/collection/figure/thumb/' + ${figure.fileName}}" />
				<td><span th:text="${figure.serie.nameDeutsch}">Serie</span></td>
				<td><span th:text="${figure.figureName}">Name Deutsch</span></td>
				<td><a th:href="@{/admin/figure/edit/{id}(id=${figure.id})}">Edit</a></td>
				<td><a th:href="@{/admin/figure/delete/{id}(id=${figure.id})}">Delete</a></td>
		</tbody>
</table>
      </div>
    </div>
    <div id="footer">
    <div th:replace="footer :: footer">  
  	</div>
  </div>
</body>
</html>

