<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div th:replace="headerfiles :: header">
      </div>
    </div>
    <div id="site_content">
      
      <div id="content">
        
   <h1>Publisher</h1>
<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
		</tr>
		<tbody>
			<tr th:each=" publisher : ${publishers}">
				<td>
					<a th:href="@{/publisher/{id}(id=${publisher.id})}">
				 		<img th:src="@{'/collection/publisher/thumb/' + ${publisher.fileName}}" />
					</a>
				</td> 
				<td><span th:text="${publisher.vorname}">Vorname</span></td>
		</tbody>
</table>
      </div>
    </div>
    <div id="footer">
    <div th:replace="footer :: footer">  
  	</div>
  </div>
</body>
</html>

